" LEADER KEY(s)
nnoremap <SPACE> <Nop>
nnoremap <BS> <Nop>
let mapleader = " "
nmap <BS> <leader>

" SETTINGS
set nu rnu
set surround
set visualbell
set noerrorbells
set incsearch
set ignorecase

set clipboard=unnamed
set ideamarks
set ideajoin
set showcmd

" CUSTOM COMMANDS

command! Reformat action ToggleBookmark

" NORMAL MODE MAPPINGS

" Navigating multiple windows
nmap <leader>l <C-w>l
nmap <leader>h <C-w>h
nmap <leader>j <C-w>j
nmap <leader>k <C-w>k

nnoremap ; :
nnoremap : ;

nmap n nzz
nmap N Nzz

" INSERT MODE MAPPINGS
inoremap <C-;> <C-[> 

" PLUGINS
Plug 'tpope/vim-surround'

" IDE ACTIONS

" Bookmarks
map <leader>m <Action>(ToggleBookmark)
map <leader>n <Action>(ToggleBookmarkWithMnemonic)
map <leader>sm <Action>(ShowBookmarks)
map <leader>sn <Action>(ShowTypeBookmarks)
map <leader>em <Action>(EditBookmark)

map <leader>p <Action>(PasteMultiple)
map <leader>re <Action>(RenameElement)

map <leader>gd <Action>(FindUsages)

" Searching
map <leader>se <Action>(SearchEverywhere)
map <leader>sf <Action>(GotoFile)
map <leader>ss <Action>(GotoSymbol)

" Macros
map <leader>@ <Action>(PlaySavedMacrosAction)
map <leader>! <Action>(PlaybackLastMacro)
map <leader>q <Action>(StartStopMacroRecording)
map <leader>z <Action>(StartStopMacroRecording)

" Navigation
map <leader>; <Action>(ShowNavBar)

map <leader>do <Action>(QuickJavaDoc)
map <leader>rc <Action>(RecentChanges)

" Git
map <leader>blame <Action>(Annotate)

" Tabs
map tr <Action>(MoveTabRight)
map td <Action>(MoveTabDown)
map to <Action>(MoveEditorToOppositeTabGroup)

" Viewing Modes
"map <leader>p <Action>(TogglePresentationMode)
map <leader>df <Action>(ToggleDistractionFreeMode)
map <leader>rv <Action>(IdeaVim.ReloadVimRc.reload)
